.timetable-card{
    margin-left: auto;
    margin-right: auto;
}

.WeatherBody {
    color: #008CAB;
    border-radius: 20px;
    border: 4px solid #008CAB;
    margin: 10px 15px;
    padding: 10px 10px;
    transition: 0.3s all ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset ;
}

.WeatherBody:hover {
    cursor: pointer;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.card-title{
    font-weight: 800;
    letter-spacing: 1.2px;
    font-size: 25px;
}

.class-time{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
