.iiitdmj-nav{
    text-align: left;
    color: #008CAB;
    font-weight: 700;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    line-height: 1;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.hey-ya{
    display: none;
}

.fa-bars{
    font-size: 20px;
}

.fa-times{
    display: none;
}

.links{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    background-color: #f4f4f4;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.link1,
.link2,
.link3,
.link4{
    margin: 10px 0 10px 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-bar-times{
    color: #008CAB;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.open .fa-times{
    display: block;
    font-size: 20px;
}

.open .fa-bars{
    display: none;
}

.open .links{
    transform: translateX(0);
}

@media screen and (min-width: 750px){
    .links{
        position: initial;
        width: initial;
        height: initial;
        display: flex;
        justify-content: initial;
        background-color: transparent;
        flex-direction: row;
        transform: initial;
        justify-content: center;
        align-items: center;
    }

    .link1,
    .link2,
    .link3,
    .link4{
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .hey-ya{
        display: block;
        color: #008CAB;
        margin: 0;
        margin-right: 20px;
        padding: 0;
        line-height: 1;
        letter-spacing: 1px;
        text-align: right;
    }

    .hey-ya p{
        padding: 0;
    }

    .hey-ya span{
        font-weight: 800;
    }

    .nav-bar-times{
        display: none;
    }
}
